# Node
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
.vite/

# Env
.env
.env.*
!.env.example

# Editor
.VSCodeCounter/
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# Mac/Windows
.DS_Store
Thumbs.dbnode_modules
